.Search {
  display: block;
  height: auto;
  overflow: visible;
  position: relative;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  padding: 2px 10px;

  .Dropdown .menu {
    min-width: 100px;
    padding: 10px 5px;
  }

  .addSearchButton {
    border: none;
    margin: 5px 12px 5px;

    &:focus {
      outline: none;
    }
  }
}
