.SearchPill {
  display: inline;
  padding: 2px;
  border: 1px solid transparent;
  background-color: #fafafa;
  color: #555555;
  border-radius: 3px;
  border-color: #e5e5e5;

  margin: 5px;

  input {
    padding: 0 3px;

    border-radius: 2px 0 2px 2px;
  }
}

.SearchField {
  cursor: pointer;
}
