<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/users.html -->
<section ng-cloak>
  <!-- <aside></aside> -->
  <div class="section-content">
    <header class="row">
      <div class="col-xs-8">
        <h3>{{ 'USERS_LIST_OF_USERS' | translate }}</h3>
      </div>
      <div class="col-xs-4 text-right">
        <a class="btn btn-default"
           ng-show="availableOperations.create"
           href="#/user-create">
          {{ 'USERS_ADD_USER' | translate }}
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
    </header>

    <div cam-widget-loader
         loading-state="{{ loadingState }}">
      <table class="cam-table">
        <thead>
          <tr>
            <th class="name">{{ 'USERS_NAME' | translate }}</th>
            <th class="username">{{ 'USERS_USERNAME' | translate }}</th>
            <th class="action">{{ 'USERS_ACTION' | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in userList">
            <td class="name">
              <a ng-href="#/users/{{user.id | escape}}">{{user.firstName}} {{user.lastName}}</a>
            </td>

            <td class="username">
              {{user.id}}
            </td>

            <td class="action">
              <a ng-href="#/users/{{user.id | escape}}">{{ 'USERS_EDIT' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="loadingState === 'EMPTY' && pages.total && (!userList || !userList.length)"
         class="well">
      <span class="glyphicon glyphicon-info-sign"></span>
      {{ 'USERS_INFO_MESSAGE_1' | translate }} <a ng-click="pageChange(1)">{{ 'USERS_INFO_MESSAGE_2' | translate }}</a>
    </div>

    <pagination ng-if="pages.total > pages.size"
                class="pagination-sm"

                ng-model="pages.current"
                ng-change="pageChange(pages.current)"

                total-items="pages.total"
                items-per-page="pages.size"
                max-size="7"

                boundary-links="true"

                next-text="&rsaquo;"
                last-text="&raquo;"
                previous-text="&lsaquo;"
                first-text="&laquo;"></pagination>

  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/users.html -->
