<!-- # cockpit client/scripts/repository/deployments/directives/cam-cockpit-deployments.html -->
<div ng-show="!state.$loaded && !state.$error"
     class="loader">
  <span class="animate-spin glyphicon glyphicon-refresh"></span>
  {{ 'REPOSITORY_DEPLOYMENTS_LOADING' | translate }}
</div>

<div ng-show="state.$error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <strong class="status">{{ 'REPOSITORY_DEPLOYMENTS_FAILURE' | translate }}:</strong>
  <span class="message">{{ 'REPOSITORY_DEPLOYMENTS_LOADING_LEGEND' | translate }}</span>
</div>

<div ng-show="state.$loaded && !state.$error"
     class="wrapper">

  <div ng-hide="totalItems"
       class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ 'REPOSITORY_DEPLOYMENTS_NO_DEPLOYMENTS_AVAILABLE' | translate }}
  </div>

  <div ng-show="totalItems && (!deployments || !deployments.length)"
       class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ 'REPOSITORY_DEPLOYMENTS_CURRENT_SEARCH_LEGEND' | translate }}&nbsp;
    <a ng-click="resetPage()">{{ 'REPOSITORY_DEPLOYMENTS_RESET_PAGE_NUMBER' | translate }}</a>
  </div>

  <ul class="deployments">
    <li ng-show="totalItems"
        ng-repeat="(delta, deployment) in deployments"
        ng-class="{active: isFocused(deployment), deployment: true}"
        ng-style="{'z-index': ((deployments.length + 10) - delta) }"
        ng-click="focus(deployment)">

      <div cam-deployment
           deployment="deployment"
           deployments-list-data="deploymentsListData"
           control="control">
      </div>
    </li>
  </ul>
</div>

<pagination ng-show="state.$loaded && totalItems > pageSize"
            class="pagination-sm"

            ng-model="pageNum"
            ng-change="pageChange(pageNum)"

            total-items="totalItems"
            items-per-page="pageSize"
            max-size="3"

            boundary-links="false"

            next-text="&rsaquo;"
            last-text="&raquo;"
            previous-text="&lsaquo;"
            first-text="&laquo;"></pagination>
<!-- / cockpit client/scripts/repository/deployments/directives/cam-cockpit-deployments.html -->
